.inner-btn{
  position: relative;
}

.inner-btn button{
  position: absolute;
  right: 0;
  top : 5px;
}

h1{
  color: red;
}

.inner-btn-item button{
  margin-right: 3px;
}

.inner-btn-item{
  margin-top: 3px;
}

.tr{
  margin-bottom: 3px;
}

.option2{
  padding: 5px 20px;
  display: inline;
  background-color: bisque;
  border-radius: 10px;
}

.btn-1 {
  margin-right: 3px;
}

.col-form{
  display: flex;
  justify-content: center;
}

.col-btn{
  position: relative;
}

.col-btn .btn-2{
  padding-right: 40px;
  position: absolute;
  right: 0;
}

.box{
  margin-bottom: 15px;
  padding: 30px 0 ;
  background-color: aqua;
  border-radius: 30px;
}